* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}

.about-us {
  margin-top: -5px;
  background: #feac5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);
  background: linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);
  height: auto;
}
.about-us .title1 {
  font-family: "Noto Sans Limbu", sans-serif;
  background-color: white;
  width: 238px;
  text-align: center;
  font-size: 24px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px 20px;
  margin-left: 70px;
}

.para1 {
  color: white;
  background: #242834;
  width: 545px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bolder;
  border-radius: 25px;
  margin-left: 70px;
  margin-top: 60px;
  padding: 23px;
}

/* Section: For Mobile */
@media (max-width: 950px) {
  .para1 {
    width: 90%;
    font-size: 15px;
    margin-left: 15px;
    margin-top: 30px;
    border-radius: 10px;
    padding: 15px;
  }

  .about-us .title1 {
    font-family: "Noto Sans Limbu", sans-serif;
    background-color: white;
    width: 150px;
    text-align: center;
    font-size: 16px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px 10px;
    margin-left: 15px;
  }
}
.team-container-block {
  background: #feac5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);
  background: linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);
  font-size: 2rem;
  padding: 10px;
  position: relative;
  display: grid;
}
.mem-heading {
  color: white;
  justify-self: center;
}
.team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.member {
  height: 500px;
  width: 300px;
  background-color: #242834;
  margin: 25px 25px;
  display: grid;
  justify-content: end;
  grid-template-columns: 250px;
  grid-template-rows: 300px auto auto;
}
.member img {
  width: 200px;
  height: 200px;
  border-radius: 125px;
  align-self: center;
  text-align: center;
}
.member label {
  width: 200px;
  height: 100px;
  font-size: 25px;
  color: white;
  padding: 2px;
  text-align: center;
}
